# Dependencias (Cubre raíz y cualquier subcarpeta como la API o Angular)
node_modules/
**/node_modules/
npm-debug.log
yarn-error.log

# Angular (Compilación y caché)
.angular/
**/dist/
**/tmp/
**/out-tsc/

# Archivos de entorno y seguridad (MUY IMPORTANTE para la API)
.env
.env.*
.DS_Store
Thumbs.db

# IDEs y editores
.vscode/
.idea/
*.sublime-workspace
.history/

# Otros
**/coverage/
**/typings/