<nav class="navbar">
  <!-- Enlaces principales de navegación -->
  <div class="nav-links">
    <a routerLink="/" class="nav-item">Inicio</a>
    <a routerLink="/carta" class="nav-item">La Carta</a>
    <a routerLink="/reservas" class="nav-item">Reservar Mesa</a>
    <a routerLink="/eventos" class="nav-item">Eventos</a>
  </div>

  <!-- Este div vacío empuja los botones hacia la derecha -->
  <div class="spacer"></div> 

  <!-- Zona de Botones de Usuario / Admin -->
  <div class="nav-actions">
    
    <!-- Si NO hay usuario, mostramos botón de Login -->
    @if (!usuarioActual) {
      <a mat-button routerLink="/login" class="btn-login">Login</a>
    }

    <!-- Si el usuario es Admin, mostramos su botón naranja sólido -->
    @if (usuarioActual?.rol === 'admin') {
      <button mat-flat-button class="btn-admin" routerLink="/admin">
        <mat-icon>admin_panel_settings</mat-icon>
        Panel de Control
      </button>
    }

    <!-- Si hay cualquier usuario logueado, mostramos el acceso a su Perfil -->
    @if (usuarioActual) {
      <button mat-stroked-button class="btn-perfil" routerLink="/perfil">
        <mat-icon>account_circle</mat-icon>
        {{usuarioActual.nombre}}
      </button>
    }

  </div>
</nav>

<main class="main-content">
  <router-outlet></router-outlet>
</main>