<div class="menu-container">
  <div class="menu-header">
    <h1>Nuestra <span>Carta</span></h1>
    <p>Descubre los sabores de QuickBite</p>
  </div>

  @if (cargando) {
    <div class="loader">Cargando delicias...</div>
  } @else {
    <mat-tab-group animationDuration="500ms">
      @for (cat of categorias; track cat) {
        <mat-tab [label]="cat">
          <div class="grid-platos">
            @for (plato of menu[cat]; track plato.id_plato) {
              <mat-card class="plato-card">
                @if (plato.url_imagen) {
                  <img
                    mat-card-image
                    [src]="plato.url_imagen"
                    [alt]="plato.nombre_plato"
                    class="plato-img"
                  />
                }
                <mat-card-header>
                  <mat-card-title>{{ plato.nombre_plato }}</mat-card-title>
                  <mat-card-subtitle class="precio-destacado">
                    <!-- Miramos si el usuario está registrado Y si el backend nos mandó un descuento -->
                    @if (esUsuarioRegistrado && plato.porcentaje_descuento > 0) {
                      <span class="precio-tachado">{{ plato.precio | currency: 'EUR' }}</span>
                      <span class="precio-oferta">{{ plato.precio_final | currency: 'EUR' }}</span>
                      <!-- Usamos el porcentaje real que calculó la base de datos -->
                      <span class="badge-dto">-{{ plato.porcentaje_descuento }}%</span>
                    } @else {
                      <!-- Si no está registrado o no hay descuento, precio normal -->
                      {{ plato.precio | currency: 'EUR' }}
                    }
                  </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                  <p>{{ plato.descripcion }}</p>
                </mat-card-content>
              </mat-card>
            }
          </div>
        </mat-tab>
      }
    </mat-tab-group>
  }
</div>
