<nav style="padding: 1rem; background: #1a1a1a; display: flex; gap: 15px; border-bottom: 2px solid #ff6b00;">
  <a routerLink="/" style="color: white; text-decoration: none;">Inicio</a>
  <a routerLink="/carta" style="color: white; text-decoration: none;">La Carta</a>
  <a routerLink="/reservas" style="color: white; text-decoration: none;">Reservar Mesa</a>

  <div style="flex-grow: 1;"></div> <a *ngIf="usuarioActual?.rol === 'admin'" routerLink="/admin" style="color: #ff1e00; text-decoration: none;">
    Panel de Control
  </a>

  <a *ngIf="!usuarioActual" routerLink="/login" style="color: white; text-decoration: none;">Login</a>
  
  <a *ngIf="usuarioActual" (click)="cerrarSesion()" style="color: #ff4d4d; cursor: pointer; text-decoration: none;">
    Cerrar Sesión ({{usuarioActual.nombre}})
  </a>
</nav>

<main style="padding: 20px;">
  <router-outlet></router-outlet>
</main>